@charset "utf-8";

/* 
	- 생성일 : 2024-12-01
	- 파일명 : custom.css
	- 포함내용 : 공통 + 모든 컨텐츠 커스텀
*/

.input-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.input-wrap > .btn-group {
    width: 100%;
}

.data-body.option-react .data-list > tbody > tr > th > span {
    color: red;
    margin: 0 0 0 2px;
}

@media screen and (min-width: 768px) {
    .input-wrap {
        flex-direction: row;
    }

    .input-wrap > .btn-group {
        width: max-content;
    }
}

.btn.black {
    background-color: #000000;
    border-color: #000000;
    color: var(--color-light);
}